.pricing-plan {
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 dpx rgba(0, 0, 0, 0,2);
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin: 15px;
}

.pricing-plan__header {
    padding: 25px;
    background: ;
}